<div class="bs-docs-footer">
    <div class="container bs-text-centered">
          <div class="footer-layout"> 
        <a href="https://www.auf.org/" target="_blank"><img src="https://cdn.auf.org/static/logo_auf.png" class=" img-responsive logo auf"></a>
    </div>
  
   
  
       <div id="contact"> Tous droits réservés © 2019 IFIC-AUF <br>
       Version 1.0 |
      <a href="/contact/">Nous contacter |</a>
      <a href="https://www.auf.org/accueil/mentions-legales/" target="blank">Politique de confidentialité |</a>
      <a href="https://cdn.auf.org/static/politique-confidentialite.html" target="blank">Politique de protection des données</a>
      </div>
        <div class="footer-layout"> 
         <a  href="https://idneuf.auf.org/" target="_blank"><img src="https://cdn.auf.org/static/idneuf.png" class="img-responsive logo idneuf"></a>
           </div> 
    </div>
  </div>