
<app-header></app-header>

<div class="homeHeader">
        <div class="container">
          <h2>Plateforme de soumission de nouveaux projets  AUF</h2>
        </div>
      </div>
      <img src="../assets/img/sigle_auf.png" class="img-responsive sigle pull-right">
      <br>
<div  class="container"><h3>Actualités</h3>
<br> <br>

    <h4 class="text-center"><b>Aucune actualité à afficher ! </b></h4>
</div>

<!-- <div class="container bodyuser">

        <section class="details-card">
                <div class="">
                    <div class="row"  >
                        <div class="col-md-4" *ngFor="let act of acts;" >

                            <div class="card-content">
                                <div class="card-img">
                                    <img src="{{act.image}}" alt="">
                                    <span><h4>{{act.cathegory}}</h4></span>
                                </div>
                                <div class="card-desc" *ngFor="let cneuf of act.cneufs;">
                                    <i class="description">20-04-2019, {{cneuf.nom_projet}}</i>
                                    <h3>{{act.titre}}</h3>
                                    <p>{{act.intro}}</p>
                                    <button type= "button" class="btn pull-right" routerLink = "/appel/{{act.id}}" >Plus de détails <i class="fas fa-chevron-right"></i></button>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>
                        </div>
                      </div >
            </section>
     
</div>
   -->
   <br> <br> <br>   <br> <br> <br>
<app-footer></app-footer>
