<app-header></app-header>
<div class="homeHeader">
  <div class="container">
    <h2>Plateforme de soumission de nouveaux projets  AUF</h2>
  </div>
</div>
<img src="./assets/img/sigle_auf.png" class="img-responsive sigle pull-right">
<br>
 <div  class="container">
<div class="container bodyuser">
 
  
  <div class="">
    <div class="rightside">
    <strong><h4>L’AUF soutient la mise en place des projets innovants via des appels à projets</h4></strong>
    <a class="btn btn1" href="" download="   "> <i class="fas fa-download"></i> Voir la présentation</a>
  </div>
</div>
</div>
</div>
<br>
<div  class="container"><h3><b>Modalité des canditatures </b></h3>
<div class="container bodyuser">
    <h4>1. CADRE GÉNÉRAL ET CONTEXTE DE L’APPEL À PROJETS</h4>
    <p class="descrip">
         
    </p>

    <h4>2. DESCRIPTION DU PROJET</h4>
    <p class="descrip">
          
    </p>

    <h4>3. CONDITIONS DE CANDIDATURE</h4>
    <p class="descrip">
          
    </p>

    <h4>4. MESURES D’ACCOMPAGNEMENT</h4>
    <p class="descrip">
           
    </p>

    <h4>5. CRITERES DE SELECTION   </h4>
    <p class="descrip">
         
    </p>

    <h4>6. ÉLEMENTS BUDGETAIRES</h4>
    <p class="descrip">
          

    </p>

  </div>

</div>
<div  class="container"><h3><b>Documents de référence </b></h3>
    <div class="container bodyuser">
    <p class="descrip">
        <li>Pour accéder au modèle de la charte de qualité </li>
        <li>Pour accéder au modèle de cadre logique </li>
        <li>Pour accéder au guide d’utilisation de la plateforme </li>
    </p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
